@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #8892b0;
	--background: #0a192f;
	--green: #64ffda;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 136, 146, 176;
		--background-rgb: 10, 25, 47;
	}
}

body {
	background-color: var(--background);
	color: var(--foreground);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
